@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    /* border: 1px solid red; */
    width: 1440px;
    margin: 0 auto;
    font-family: "Quicksand", serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 1160px;
    margin: 0 auto;
    /* border: 1px solid blueviolet; */
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.kids-logo{
    display: flex;
    align-items: center;
}
.kids-title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    color:#111111 ;
}
 .menu-ul{
    display: flex;
    list-style: none;
 }
 .menu-links{
    text-decoration: none;
    margin: 0px 32px;
    font-size:1.2rem;
    font-weight: 700;
    line-height: 30px;
 }
 #orange{
    color: #FEA301;
 }
 #skyblue-1{
    color: #01ACFD;
 }
 #skyblue-2{
    color: #05D4DF;
 }
 #skyblue-3{
    color: #5D58EF;
 }
 .btn-contact{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 30px;
    border-radius: 12px;
    border: none;
    color:#FFFFFF ;
    background-color: #FEA301;
    padding: 10px 25px ;
 }
 /* navbar style end */

/* banner part style start */
 .banner-container{
    width: 1160px;
    display: flex;
    margin: 0 auto;
    gap: 50px;
    /* border: 1px solid red; */
 }
 .banner-part{
    width: 640px;
    height: 331px;
    padding: 122px 0px;
    /* margin-left:50px; */
 }
 .banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 61px;
    margin-bottom:24px;
 }
 .banner-description{
    font-size: 1.2rem;
    font-weight: 400;
    color: #111111;
    margin-bottom: 24px;
 }
 .enroll-btn{
    font-size: 1.2rem;
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 10px 25px;
    border: none;
    /* margin-top:24px; */
 }
 /* .kids-picture{
    width: 469px;
    height: 575px;
 } */
 /* banner part style end */
 .curriculum-section{
    /* width: 1440px; */
    /* width: 100%; */
    background-image: url("../assets/bg.png");
    /* margin-bottom: 170px; */
    /* border: 1px solid red; */
    /* margin: 60px 0px; */
    margin-top: 17px;
 }
 .curriculum-title{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 57.5px;
    color:#000000;
    margin-top: 60px;
    text-align: center;
 }
.kinder-section{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    width: 1160px;
    /* margin: 0 auto; */
    margin: 80px auto;
    gap: 20px;
    /* border: 1px solid rebeccapurple; */
}
/* kinder card style start */
.kinder-card{
    /* display: flex; */
    /* justify-content: center; */
    width: 370px;
    /* height: 476px; */
    box-shadow:0px 0px 29px 0.94px rgba(0, 0, 0, 0.05);
    border-radius:19px;
    background: linear-gradient(rgba(222, 245, 255, 1), rgba(222, 245, 255, 1), #FFFFFF);
}
.kinder-title{
   font-size: 1.5rem;
   font-weight: 700;
   line-height: 30px; 
   color: #202020;
  
}
.kinder-description{
    font-size: 1rem;
    font-weight: 500;
    line-height: 29px;
    color: #808080;
}
.kinder-links{
    color:#64C8FF;
    text-decoration: none;
}
/* kinder style end */

/* elementary card start */
.elementary-card{
    width: 370px;
    /* height: 476px; */
    border-radius: 19px;
    box-shadow:0px 0px 29px 0.94px rgba(0, 0, 0, 0.05);
    background-image:linear-gradient(rgba(255, 244, 220, 1), rgba(255, 244, 220, 1), rgba(255, 255, 255, 0));
}
.elementary-card img{
    
}
.elementary-title{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px; 
    color: #202020;
    /* margin-top: 34px; */
}
.elementary-description{
    font-size: 1rem;
    font-weight: 500;
    line-height: 29px;
    color: #808080;
    /* margin-top: 34px; */
}
.elementary-links{
    color:#F0AA00;
    text-decoration: none;
    /* margin-bottom: 34px; */
}
/* elementary card end */

/* middle card start */
.middle-card{
    width: 370px;
    height: 476px;
    border-radius: 19px;
    box-shadow:0px 0px 29px 0.94px rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(rgba(238, 225, 255, 1), rgba(238, 225, 255, 1), rgba(255, 255, 255, 0));
}
.middle-title{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px; 
    color: #202020;
}
.middle-description{
    font-size: 1rem;
    font-weight: 500;
    line-height: 29px;
    color: #808080;
}
.middle-links{
    color:#8700FF;
    text-decoration: none;
}
/* middle card end */
.arrow-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.left-arrow{
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    color: #FFFFFF;
    background-color:#FEA301;
    border: none;
    padding: 18px 22px;
    border-radius: 30px;
    line-height: 24px;
}
.right-arrow{
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    color: #FFFFFF;
    background-color:#FEA301;
    border: none;
    padding: 18px 22px;
    border-radius: 30px;
    line-height: 24px;
}

/* section part two style start */
.stories-section{
    /* display: flex; */
    /* border: 1px solid tomato; */
    background-image: url("../assets/bg.png");
    /* background: linear-gradient(); */
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}
.stories-title{
    text-align: center;
    margin-top:60px;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 57px;
    color: #000000;
}
.stories-container{
    width: 1160px;
    display: flex;
    gap: 18px;
    margin: 0 auto;
    margin-top: 80px;
    /* border-radius: 100px; */
    /* border: 1px solid greenyellow; */
}
.stories-one-card{
        width: 540px;
        /* height: 90px; */
        background-color:#FFFFFF ;
        border-radius:16px;
        /* margin-top: 0px; */
}
.btn-november{
    font-size: 1rem;
    font-weight: 500;
    line-height: 29px;
    color: #FFFFFF;
    border-radius: 48px;
    padding: 15px 19px;
    border: none;
    background-color:#3CD8E8 ;
    margin-left:39px; 
    margin-top: -40px; 

}
.stories-one-title{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 39px;
    color: #000000;
}
.stories-one-description{
    font-size: 1rem;
    font-weight: 500;
    line-height: 29px;
    color:#666666 ;
}
/* stories two container style start */
.stories-two-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 19px;
    row-gap: 19px;
    /* gap: 10px; */
}
.stroies-2{

}
.stories-2-title{
    font-size: 1rem;
    background-color:#95B226 ;
}
.btn{
   /* align-items: center; */
   width: 1160px;
   margin: 0 auto;
   /* border: 1px solid tomato; */
   text-align: center;
   margin: 60px auto;
   /* margin: 0 auto; */
}
/* stories two container style end */
footer{
    width: 1440px;
    
    background-color: #01ACFD;
}
.footer-section{
    display: flex;
}